* {
	margin: 0;
}

html ,body{
	height: 100%;
}

body {
    background-color: #656565;
}

.row-fluid {
    overflow: hidden;
}	

.wrapper{
	position: relative;
	background-image: url('../images/figures.jpg');
	min-height: 100%;
	margin: 0 auto -75px; 
}

.nav {
    padding-top: 15px;
    padding-right: 15px;
    position: relative;
	background-color: #ddd;
}

.nav a {
    color: #5a5a5a;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
    padding-right: 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.page-header {
	margin: 0;
}

.content {
    background-color: #f1f1f1;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 15px;	
}
.sections{
    background-color: #fff;
    padding-top: 5px;
	padding-bottom: 5px;
    text-align: center;
	border-radius: 5px;	
}
.sections a {
    color: #5a5a5a;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.section {
	margin-top: 5px;
	margin-bottom: 5px;
}

.form {
	margin-top: 35px;
	margin-bottom: 35px;
}

textarea {
	resize: vertical;
}

.comment-header {
	margin: 0 15px 5px 15px;
}

.avatar-sm {
	height: 120px;
}

.jumbotron {
	background-color: transparent;
	margin: 0;
}


.jumbotron .container {
    position: relative;
    top: 40px;
    text-align: right;
}

.jumbotron h1 {
    color: #fff;
    font-size: 48px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}

.jumbotron a {
    font-size: 18px;
    color: #b1bcd5;
}

.footer, .push {
	height: 75px; 
}
.footer{
	position: relative;
	margin: 0 auto;
    background-color: #fff;
}

.footer a{
	padding-right: 10px;
}

.footer .container {
    padding-top: 15px;
    padding-bottom: 10px;
}
