@model IEnumerable<Forum.ViewModels.TopicViewModel>

@{
    ViewBag.Title = "Index";
}

<div class="container content">
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    @*@Html.Action("GetLatestTopics")*@
</div>