@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1>Sky is not the limit...</h1>
        <p>Find out what lies beyond it.</p>
        <a href="#">Learn More</a>
    </div>
</div>

@*@Html.Action("GetLatestTopics") [ChildActionOnly] return PartialView("_TopicsTable", topics)*@

@*@Html.Action("GetComments", topic) [ChildActionOnly] *@

@*partial views for topics table and comments list*@

@*resize:both;overflow:auto;
    
    :link :visited :hover :active - only in this order
    
    margin-top and margin-bottom are not  separated for block elements
    parent and child borders are touching if border is not specified*@
